.dropdown-container {
  padding: 5px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  user-select: none;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  border: 10px solid blue;
}